# Discord bot configuration
DISCORD_BOT_TOKEN=<your bot token>
DISCORD_APP_ID=<your app ID>
DISCORD_PUBLIC_KEY=<your public key>

# Discord guild configuration
DISCORD_GUILD_ID=<your guild ID>
LOG_CHANNEL_ID=<ID of invites log channel>
INVITE_TARGET_CHANNEL_ID=<ID of channel for which invites will be generated>
